<!--
@Author: mars
@Date:   2016-12-08T00:46:07-05:00
@Last modified by:   mars
@Last modified time: 2016-12-08T23:02:12-05:00
-->
<a href="/">Back to home page</a> | <a href="/logout">Log out</a>
<hr>
<h1>Welcome!</h1>
Profile
<ul>
  <li>email: {{user.email}}</li>
</ul>
<hr>
Existing Services
<ul>
  {{#each services as |service index|}}
    <li>Service type: {{service.serviceType}} | service user: {{service.displayName}}
      | id: {{service.serviceId}} | <a href="https://accounts.google.com/o/oauth2/revoke?token={{service.token}}">Revoke access</a></li>
  {{/each}}
</ul>
<hr>
Available services
<div>
  {{data}}
</div>
<ul>
  <li>Google: <a href="/add/service/google-add-account">Integrate</a></li>
</ul>
